<nb-card accent="info">
    <nb-card-header>LISTAR MATERIAS
        <button nbButton (click)='crearMaterias()' status="success"><i class="fas fa-plus"></i></button>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-striped">
            <thead>
                <td>CREDITOS</td>
                <td>TITULO</td>
            </thead>
            <tbody>
               <ng-container *ngFor="let materia of materias" >
                <tr>
                    <td>{{materia.credits}}</td>
                    <td>{{materia.title}}</td>
                    <td>
                        <button nbButton (click)="editarMaterias(materia.id, materia)" status="warning"><i class="fas fa-pencil-alt"></i></button>
                        <button nbButton (click)="eliminarMaterias(materia.id)" status="danger"><i class="fas fa-solid fa-trash"></i></button>
                    </td>
                </tr>
               </ng-container>
            </tbody>
        </table>
  </nb-card-body>
</nb-card>
