<nb-card>
    <nb-card-body>
    <h1>EDITAR ALUMNO</h1> 
      <form (ngSubmit)="editarAlumno()" [formGroup]="updateForm">
      <input formControlName="id" type="number"  fullWidth nbInput placeholder="ID"readonly >
      <input formControlName="name" type="text"  fullWidth nbInput placeholder="NOMBRE COMPLETO" required="yes">
      <br>
      <br>
      <input formControlName="document" type="number" fullWidth  nbInput placeholder="CEDULA" required="yes">
      <br>
      <br>
      <input formControlName="birthday" type="date" fullWidth  nbInput placeholder="FECHA DE NACIMIENTO" required="yes">
      <br>
      <br>
      <input formControlName="career" type="text" fullWidth  nbInput placeholder="INGRESE LA CARRERA" required="yes">
      <hr>
      <button fullWidth nbButton status="primary" >EDITAR ALUMNO</button>
      
    </form>
    </nb-card-body>
</nb-card>
