<nb-card accent="info">
    <nb-card-header>Asignaciones de {{alumno.name}}
        <button nbButton (click)='AsignarMaterias(alumno.id, alumno)' status="success"><i class="fas fa-plus"></i></button>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-striped">
            <thead>
                <td>CREDITOS</td>
                <td>TITULO</td>
                <td>OPCIONES</td>
            </thead>
            <tbody>
               <ng-container *ngFor="let materia of materias" >
                <tr>
                    <td>{{materia.credits}}</td>
                    <td>{{materia.title}}</td>
                    <td>
                        <button nbButton (click)="eliminarAsignacion(alumno.id, materia.id)" status="danger"><i class="fas fa-solid fa-trash"></i></button>
                    </td>
                </tr>
               </ng-container>
            </tbody>
        </table>
  </nb-card-body>
</nb-card>
