<nb-card>
    <nb-card-body>
    <h1>CREAR CREAR ALUMNO</h1>
        <input [(ngModel)]="name" type="text" fullWidth nbInput placeholder="NOMBRE COMPLETO" required="yes">
        <br>
        <br>
        <input [(ngModel)]="document" type="number" fullWidth nbInput placeholder="NUMERO DE DOCUMENTO" required="yes">
        <br>
        <br>
        <input [(ngModel)]="birthday" type="date" fullWidth nbInput placeholder="INGRESE SU FECHA DE NACIMIENTO" required="yes">
        <br>
        <br>
        <input [(ngModel)]="career" type="text" fullWidth nbInput placeholder="INGRESE LA CARRERA A CURSAR" required="yes">
        <br>
        <br>
        <hr>
        <button fullWidth nbButton status="primary" (click)="crearAlumno()" >CREAR ALUMNO</button>
  </nb-card-body>
</nb-card>
