<nb-card>
    <nb-card-body>
    <h1>Asignar Materia a {{alumno.name}}</h1>
    <input [(ngModel)]="id" type="text" fullWidth nbInput placeholder="{{alumno.id}}" [readOnly]="isReadOnly">
        <br>
        <br>
    <input [(ngModel)]="name" type="text" fullWidth nbInput placeholder="{{alumno.name}}" [readOnly]="isReadOnly">
        <br>
        <br>
    <input [(ngModel)]="document" type="number" fullWidth nbInput placeholder="{{alumno.document}}" [readOnly]="isReadOnly">
        <br>
        <br>
        <label>SELECCIONA LA MATERIA A ASIGNAR: </label>
        <br>
        <select [(ngModel)]="materia" ngDefaultControl fullWidth
        placeholder="Seleccione la materia" status="success" >
        <option *ngFor="let materia of materias" [value]="materia.id"> {{materia.title}} </option>
      </select>
        <br>
        <hr>
        <button fullWidth nbButton status="primary" (click)="asignarMateria(alumno.id, materia)" >ASIGNAR MATERIA</button>
  </nb-card-body>
</nb-card>
